.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: rgb(113, 148, 115) 1px solid;
  z-index: 1001;
  background-color: #121212;
}

.titre {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  min-width: 120px;
}

.header-logo {
  height: 70px;
  width: auto;
  object-fit: contain;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 20px;
}

.account-links {
  display: flex;
  gap: 15px;
  min-width: 120px;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.header a:hover {
  color: #0eb453;
}

.logout-btn {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logout-btn:hover {
  color: #0eb453;
}
