.about-page {
  font-family: "Inter", "Poppins", sans-serif;
  color: #979292;
  background-color: #f9fafb;
}

.about-intro {
  position: relative;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  text-align: center;
  padding: 5rem 2rem;
  background-color: #000000;
  border-bottom: #282b29 1px solid;
  overflow: hidden; 
}

.about-intro::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/images/map-back.png");
  background-size: cover;
  background-position: center;
  opacity: 0.45; 
  z-index: 0;
  pointer-events: none; 
}

.about-card {
  position: relative;
  z-index: 1;
}




.about-card {
  background: rgb(0, 0, 0);
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 6px 20px rgba(1, 80, 4, 0.594);
  transition: all 0.3s ease;
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(7, 163, 20, 0.867);
}

.about-card img {
  width: 90px;
  height: 90px;
  margin-bottom: 1rem;
}

.about-card h2 {
  color: #abeeb1;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.about-card a {
  color: #219308c7;
  font-weight: 600;
  text-decoration: none;
}

.about-card a:hover {
  text-decoration: underline;
}

.about-section {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  padding: 5rem 2rem;
}

.about-section:nth-child(even) {
  background-color: #000000;
}

.about-section:nth-child(odd) {
  background-color: #000000;
}

.about-section img {
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.about-section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #abeeb1;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.about-section button {
  background-color: #043306;
  color: white;
  font-weight: 600;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-section button:hover {
  background-color: #054c0a;
}

.about-mission {
  background-color: #000000;
  color: rgb(167, 174, 166);
  text-align: center;
  padding: 6rem 2rem;
}

.about-mission h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about-mission p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.8;
}
@media (max-width: 768px) {
  .about-section {
    text-align: center;
  }

  .about-section img {
    order: -1;
  }

  .about-section button {
    width: 100%;
  }

  .about-card:last-child{
    display: none;
  }
}

