.signup-form {
    border-radius: 8px;
    padding: 12px;
    width: 300px;
    border: 2px solid #4d554f;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    background: #383737;
}

.signup-form input,
.signup-form button {
    padding: 13px;
    border: 1px solid #000000;
    border-radius: 12px;
}

.signup-form button {
    background-color: #2d5c3b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.signup-form button:hover {
    transition: 0.2s ease;
    background-color: #04250c;
}

.signup-form input:hover {
    transition: 0.2s ease;
    background: #4c4a4a;

}
.signup-form h2,
.signup-form h4 {
    text-align: left;
    margin: 5px 0;
}

